bidict>=0.21.0
blis<0.8.0,>=0.4.0
catalogue<1.1.0,>=0.0.7
certifi>=2017.4.17
charset-normalizer~=2.0.0
click>=5.1
colorama
csv
cymem<2.1.0,>=2.0.2
email
filelock
Flask>=0.11
Flask-PyMongo
Flask-SocketIO
huggingface-hub<1.0,>=0.1.0
idna<4,>=2.5
io
it-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-2.3.0/it_core_news_sm-2.3.0.tar.gz
itsdangerous>=0.24
Jinja2>=2.10.1
joblib>=0.11
json
MarkupSafe>=0.23
matplotlib
multiprocessing
murmurhash<1.1.0,>=0.28.0
numpy>=1.17
os
packaging>=20.0
pandas
plac<1.2.0,>=0.9.6
preshed<3.1.0,>=3.0.2
PyMongo>=3.3
pyparsing!=3.0.5,>=2.0.2
python-engineio>=4.3.0
python-socketio>=5.0.2
PyTorch-Ignite
pyyaml>=5.1
random
re
regex!=2019.12.17
requests<3.0.0,>=2.13.0
scikit-learn
scipy>=1.1.0
setuptools
shutil
smtplib
spaCy==2.3.5
srsly<1.1.0,>=1.0.2
ssl
string
thinc<7.5.0,>=7.4.1
threading
threadpoolctl>=2.0.0
timeit
tokenizers!=0.11.3,<0.13,>=0.11.1
torch<2,>=1.3
tqdm<5.0.0,>=4.38.0
transformers
typing-extensions>=3.7.4.3
urllib3<1.27,>=1.21.1
wasabi<1.1.0,>=0.4.0
Werkzeug>=0.15
zipfile