<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<title>
			Create new Intent
		</title>
		<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<form method = "POST">
			<div>
				<label for = "createIntent">
					Crea un nuovo Intent
				</label>
				<br>
				<br>
				<input type = "text" class = "form-control" name = "createIntent" size = "215" placeholder = "Inserisci Intent" pattern = "[a-zA-Z0-9 ]+">
			</div>
			<br>
			<button type = "submit" class = "button green-button">
				Invia
			</button>
		</form>
	</body>
</html>