<!doctype html>
<html lang = "en">
  <head>
    <meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<style>
		input:invalid {
			border: 5px solid red;
		}

		input:valid {
			border: 5px double black;
		}
		
		.form-control {
			padding: 10px;
		}
		
		.button {
			border: none;
			background-color: green;
			color: white;
			padding: 10px 16px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
    </style>
    <title>
		Create new Intent
	</title>
  </head>
  <body>
    <form method = "POST">
		<div>
			<label for = "createIntent">
				Crea un nuovo Intent
			</label>
			<br>
			<br>
			<input type = "text" class = "form-control" name = "createIntent" size = "215" placeholder = "Inserisci Intent" pattern = "[a-zA-Z ]+">
		</div>
		<br>
		<button type = "submit" class = "button">
			Invia
		</button>
	</form>
  </body>
</html>