<!doctype html>
<html lang = "it">
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<title>
			Start_Training_Model
		</title>
		<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin = "anonymous">
		
	</head>
	<body>
		<form method = "POST">
			<h3><p>
				Clicca sui seguenti bottoni per scaricare i modelli addestrati(se presenti)
			</p></h3>
			<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "downloadIntentRecognition">
					Scarica il modello addestrato di Intent Recognition
			</button>
			<br>
			<br>
			<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "downloadSentimentAnalysis">
					Scarica il modello addestrato di Sentiment Analysis
			</button>
			{% if model_download %}
				<br>
				<br>
				<h3><p>
					Il modello di {{ model_download }} da scaricare non è presente
				</p></h3>
			{% endif %}
			<br>
			<br>
			<h3><p>
				Clicca sui seguenti bottoni per cancellare i modelli addestrati(se presenti)
			</p></h3>
			<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "deleteIntentRecognition">
					Cancella il modello addestrato di Intent Recognition
			</button>
			<br>
			<br>
			<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "deleteSentimentAnalysis">
					Cancella il modello addestrato di Sentiment Analysis
			</button>
			{% if model_erasure %}
				<br>
				<br>
				<h3><p>
					Il modello di {{ model_erasure }} da cancellare non è presente
				</p></h3>
			{% endif %}
		</form>
	</body>
</html>