<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NLP Web Platform</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
	<section>
		<div class="hero-body">
			<div class="container has-text-left">
				<h3 class="title has-text-link">NLP Web Platform</h3>
				<h3 class="is-size-5">NLP Web Platform è una piattaforma web che offre la possibilità di gestire Datasets, Intents e Entities,
					annotare Training Phrases (Datasets), allenare modelli NLP e visualizzare o scaricare i risultati ottenuti.
					Tutto ciò che deve fare è registrarsi ed effettuare il login alla piattaforma.</h3>
				<br>
				<div class="buttons is-left">
					<p class="control">
						<button class="button is-info is-large is-fullwidth is-outlined" onclick="window.location.href='{{ url_for('services_area') }}';">Area servizi</button>
					</p>
				<br>
				</div>
				<div>
					<h3 class="is-size-5">Questa piattaforma è stata realizzata da Di Gennaro Emmanuele e Di Gennaro Massimo per un progetto universitario.</h3>
				</div>
			</div>
		</div>
	</section>
</body>
</html>