<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
	<section>
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-4 is-offset-4">
					<h3 class="title has-text-link">Effettua il login</h3>
					{% if needed %}
						<div class="box has-background-danger">
							<p class="is-size-4">Effettua il login per avere accesso ai contenuti</p>
						</div>
					{% endif %}
					{% if not valid %}
						<div class="box has-background-danger">
							<p class="is-size-4">Email o Password errate</p>
						</div>
					{% endif %}
					<div class="box">
						<form method="POST">
							<div class="field">
								<div class="control">
									<input class="input is-large" type="email" name="email" placeholder="La tua Email" autofocus="" required>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<input class="input is-large" type="password" name="password" placeholder="La tua Password" required>
								</div>
							</div>
							<button class="button is-block is-success is-large is-fullwidth is-outlined">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>