<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Area Servizi</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
	<section>
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-8 is-offset-2">
					<h3 class="title has-text-link">Accesso ai servizi</h3>
					<div class="box">
						<h3 class="is-size-4">Accedi per avere accesso ai servizi che questa piattaforma offre, 
							cioè gestire intent, entity, dataset e anche altro.</h3>
						<br>
						<div class="buttons is-centered">
							<p class="control">
								<button class="button is-info is-large is-fullwidth is-outlined" onclick="window.location.href='{{ url_for('login') }}';">Login</button>
							</p>
							<p class="control">
								<button class="button is-info is-large is-fullwidth is-outlined" onclick="window.location.href='{{ url_for('sign_up') }}';">Sign up</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>