<!doctype html>
<html lang = "it">
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<title>
			Start_Training_Model
		</title>
		<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin = "anonymous">
		
	</head>
	<body>
		<form method = "POST">
			<div class = "form-group">
				<label for="insertLearningIntent">Inserire il learning rate di seguito compreso tra 1.0 e 0.00001(default = 0.1)</label>
				<input type="text" class="form-control" id="insertLearningIntent" name="insertLearningIntent" placeholder="Learning Rate">
				<label for="insertEpsIntent">Inserire l'eps di seguito maggiore di 0.0(default = 0.5)</label>
				<input type="text" class="form-control" id="insertEpsIntent" name="insertEpsIntent" placeholder="Eps">
				<label for="selectBatchIntent">Selezionare la batch size di seguito(default = 16)
				<select class="form-control" id="selectBatchIntent" name="selectBatchIntent">
					<option selected label="Clicca qui per selezionare la batch size">
						<option>
							1
						</option>
						<option>
							2
						</option>
						<option>
							4
						</option>
						<option>
							8
						</option>
						<option>
							16
						</option>
						<option>
							32
						</option>
						<option>
							64
						</option>
						<option>
							128
						</option>
						<option>
							256
						</option>
					</option>
				</select>
				<label for="insertEpochIntent">Inserire l'epoca massima di seguito maggiore di 0(default = 2)</label>
				<input type="text" class="form-control" id="insertEpochIntent" name="insertEpochIntent" placeholder="Epoca massima">
				<label for="insertPatienceIntent">Inserire la patience di seguito maggiore di 0(default = 2)</label>
				<input type="text" class="form-control" id="insertPatienceIntent" name="insertPatienceIntent" placeholder="Patience">
				<label for="insertHiddenIntent">Inserire l' hidden dropout probability di seguito maggiore di 0.0(default = 0.3)</label>
				<input type="text" class="form-control" id="insertHiddenIntent" name="insertHiddenIntent" placeholder="Hidden Dropout Probability">
				<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "intentRecognition">
					Inizia l'addestramento del modello di Intent Recognition
				</button>
				<br>
				<br>
			</div>
			<div class = "form-group">
				<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "entitiesExtraction">
					Inizia l'addestramento del modello di Entities Extraction
				</button>
				<br>
				<br>
			</div>
			<div class = "form-group">
				<label for="insertLearningSentiment">Inserire il learning rate di seguito compreso tra 1.0 e 0.00001(default = 0.1)</label>
				<input type="text" class="form-control" id="insertLearningSentiment" name="insertLearningSentiment" placeholder="Learning Rate">
				<label for="insertEpsSentiment">Inserire l'eps di seguito maggiore di 0.0(default = 0.5)</label>
				<input type="text" class="form-control" id="insertEpsSentiment" name="insertEpsSentiment" placeholder="Eps">
				<label for="selectBatchSentiment">Selezionare la batch size di seguito(default = 16)
				<select class="form-control" id="selectBatchSentiment" name="selectBatchSentiment">
					<option selected label="Clicca qui per selezionare la batch size">
						<option>
							1
						</option>
						<option>
							2
						</option>
						<option>
							4
						</option>
						<option>
							8
						</option>
						<option>
							16
						</option>
						<option>
							32
						</option>
						<option>
							64
						</option>
						<option>
							128
						</option>
						<option>
							256
						</option>
					</option>
				</select>
				<label for="insertEpochSentiment">Inserire l'epoca massima di seguito maggiore di 0(default = 2)</label>
				<input type="text" class="form-control" id="insertEpochSentiment" name="insertEpochSentiment" placeholder="Epoca massima">
				<label for="insertPatienceSentiment">Inserire la patience di seguito maggiore di 0(default = 2)</label>
				<input type="text" class="form-control" id="insertPatienceSentiment" name="insertPatienceSentiment" placeholder="Patience">
				<label for="insertHiddenSentiment">Inserire l' hidden dropout probability di seguito maggiore di 0.0(default = 0.3)</label>
				<input type="text" class="form-control" id="insertHiddenSentiment" name="insertHiddenSentiment" placeholder="Hidden Dropout Probability">
				<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "sentimentAnalysis">
					Inizia l'addestramento del modello di Sentiment Analysis
				</button>
				<br>
				<br>
			</div>
		</form>
	</body>
</html>
