<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Start Training Model</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	.modal .modal-dialog {
		max-width: 400px;
	}
	.modal .modal-header, .modal .modal-body, .modal .modal-footer {
		padding: 20px 30px;
	}
	.modal .modal-content {
		border-radius: 3px;
	}
	.modal .modal-footer {
		background: #ecf0f1;
		border-radius: 0 0 3px 3px;
	}
	.modal .modal-title {
		display: inline-block;
	}
	.modal .form-control {
		border-radius: 2px;
		box-shadow: none;
		border-color: #dddddd;
	}
	.modal textarea.form-control {
		resize: vertical;
	}
	.modal .btn {
		border-radius: 2px;
		min-width: 100px;
	}
	.modal form label {
		font-weight: normal;
	}
</style>
<script>
function startTrainingClicked(model) {
	$('#startTrainingModel').modal('show');
	document.getElementById('addModalBody').innerHTML = "<p id='addTraining'></p>";
	document.getElementById('addTraining').innerHTML = "Inizia l'addestramento del modello di ";
	if (model == "intentRecognition" || model == "sentimentAnalysis") {
		document.getElementById('addModalBody').innerHTML += "<label for='insertLearningRate'>Inserire il learning rate di seguito compreso tra 1.0 e 0.00001 (default = 0.1)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertLearningRate' name='insertLearningRate' placeholder='Learning Rate'>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertEps'>Inserire l' eps di seguito maggiore di 0.0 (default = 0.5)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertEps' name='insertEps' placeholder='Eps'>";
		document.getElementById('addModalBody').innerHTML += "<label for='selectBatchSize'>Selezionare la batch size di seguito (default = 16)</label>";
		document.getElementById('addModalBody').innerHTML += "<select class='form-control' id='selectBatchSize' name='selectBatchSize'><option selected label='Clicca qui per selezionare la batch size'><option>8</option><option>16</option><option>32</option><option>64</option></option></select>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertMaxEpoch'>Inserire l' epoca massima di seguito maggiore di 0 (default = 2)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertMaxEpoch' name='insertMaxEpoch' placeholder='Epoca massima'>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertPatience'>Inserire la patience di seguito maggiore di 0 (default = 2)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertPatience' name='insertPatience' placeholder='Patience'>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertHiddenDropout'>Inserire l' hidden dropout probability di seguito maggiore di 0.0 (default = 0.3)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertHiddenDropout' name='insertHiddenDropout' placeholder='Hidden Dropout Probability'>";
		if (model == "intentRecognition") {
			document.getElementById('addTraining').innerHTML += "Intent Recognition";
		} else if (model == "sentimentAnalysis") {
			document.getElementById('addTraining').innerHTML += "Sentiment Analysis";
		}
	}
	if (model == "entitiesExtraction") {
		document.getElementById('addModalBody').innerHTML += "<label for='insertNumIterations'>Inserire il numero di iterazioni da eseguire > 0 (default = 30)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertNumIterations' name='insertNumIterations' placeholder='Numero iterazioni'>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertDropoutFrom'>Inserire l' hidden dropout from di seguito maggiore di 0.0 (default = 0.1)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertDropoutFrom' name='insertDropoutFrom' placeholder='Hidden Dropout From'>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertDropoutTo'>Inserire l' hidden dropout from di seguito maggiore di 0.0 (default = 0.5)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertDropoutTo' name='insertDropoutTo' placeholder='Hidden Dropout To'>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertBatchFrom'>Inserire la batch size from di seguito maggiore di 0.0 (default = 100.0)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertBatchFrom' name='insertBatchFrom' placeholder='Batch size from'>";
		document.getElementById('addModalBody').innerHTML += "<label for='insertBatchTo'>Inserire la batch size to di seguito maggiore di 0.0 (default = 1000.0)</label>";
		document.getElementById('addModalBody').innerHTML += "<input type='text' class='form-control' id='insertBatchTo' name='insertBatchTo' placeholder='Batch size to'>";
		document.getElementById('addTraining').innerHTML += "Entities Extraction";
	}
	document.getElementById('addTraining').innerHTML += " inserendo i seguenti iperparametri (opzionale)";
	document.getElementById('modalDatasetsNumber').innerHTML = '<button type="button" class="btn btn-default" onclick="clean()">Indietro</button>';
	{% for i in range(0, num_datasets) %}
		document.getElementById('modalDatasetsNumber').innerHTML += '<button type="submit" id="startTrainingButton{{ loop.index }}" name="submitButton" class="btn btn-success" value="">Dataset {{ loop.index }}</button>';
		document.getElementById('startTrainingButton{{ loop.index }}').value = model + "{{ loop.index }}";
	{% endfor %}
}

function clean() {
	if (document.getElementById('startTrainingButton1').value[0] == "i" || document.getElementById('startTrainingButton1').value[0] == "s") {
		document.getElementById("insertLearningRate").value = "";
		document.getElementById("insertEps").value = "";
		document.getElementById("selectBatchSize").selectedIndex = 0;
		document.getElementById("insertMaxEpoch").value = "";
		document.getElementById("insertPatience").value = "";
		document.getElementById("insertHiddenDropout").value = "";
	}
	else if (document.getElementById('startTrainingButton1').value[0] == "e") {
		document.getElementById("insertNumIterations").value = "";
		document.getElementById("insertDropoutFrom").value = "";
		document.getElementById("insertDropoutTo").value = "";
		document.getElementById("insertBatchFrom").value = "";
		document.getElementById("insertBatchTo").value = "";
	}
	$('#startTrainingModel').modal('hide');
}

$(document).ready(function() {
	{% if model_training %}
		$('#warningModelTraining').modal('show');
		document.getElementById('warningModalBody').innerHTML = "<p>Il modello di {{ model_training }} è attualmente in addestramento</p>";
	{% endif %}
	{% if model_success %}
		$('#successModelTraining').modal('show');
		document.getElementById('successModalBody').innerHTML = "<p>L'addestramento del modello di {{ model_success }} è incominciato con successo</p>";
		document.getElementById('successModalBody').innerHTML += "<p>Andare alla pagina di status associata per vedere il progresso dell'addestramento</p>";
	{% endif %}
});
</script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('home') }}">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<h2><p>
		In questa pagina è possibile incominciare l'addestramento
		dei modelli di NLP.
	</p></h2>
	<br>
	<button type="button" class="btn btn-primary btn-lg" onclick="startTrainingClicked('intentRecognition')">
		Inizia l'addestramento del modello di Intent Recognition
	</button>
	<br><br><br>
	<button type="button" class="btn btn-primary btn-lg" onclick="startTrainingClicked('entitiesExtraction')">
		Inizia l'addestramento del modello di Entities Extraction
	</button>
	<br><br><br>
	<button type="button" class="btn btn-primary btn-lg" onclick="startTrainingClicked('sentimentAnalysis')">
		Inizia l'addestramento del modello di Sentiment Analysis
	</button>
	<!-- Start Training Model Modal -->
	<div id="startTrainingModel" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST">
					<div class="modal-header">
						<h4 class="modal-title">Inizia addestramento modello</h4>
						<button type="button" class="close" aria-hidden="true" onclick="clean()">&times;</button>
					</div>
					<div class="modal-body" id="addModalBody">
					</div>
					<div class="modal-footer" id="modalDatasetsNumber">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Warning Model Training Modal -->
	<div id="warningModelTraining" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Modello attualmente in addestramento</h4>
					<button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
				</div>
				<div id="warningModalBody" class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">Indietro</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Success Model Training Modal -->
	<div id="successModelTraining" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">L'addestramento è iniziato</h4>
					<button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
				</div>
				<div id="successModalBody" class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Indietro</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>