<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Status Model Entities</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script>
setTimeout(function() {
	window.location.reload();
}, 15000);
</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-collapse collapse px-5">
			<ul class="navbar-nav ml-auto px-5">
				<li class="nav-item"><a class="nav-link px-4" style="font-size: 0.95vmax; font-weight: 600;" href="{{ url_for('home') }}">Home</a></li>
				<li class="nav-item"><a class="nav-link" style="font-size: 0.95vmax; font-weight: 600;" href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</div>
	</nav>
	{% if loading %}
		<br><br><br><br><br><br><br><br>
		<h2><p class="text-center">
			L'addestramento del modello di Entities Extraction sta per incominciare.
		<br>
			Si prega di attendere qualche secondo...
		</p></h2>
	{% else %}
		{% if not_training %}
			<br><br><br><br><br><br><br><br>
			<h2><p class="text-center">
				Al momento non è in corso l'addestramento del modello di Entities Extraction.
			</p></h2>
		{% else %}
			<h2><p class="text-center">
				Questa pagina mostra lo status dell'addestramento del modello di Entities Extraction.
			</p></h2>
			{% if iteration == max_iteration %}
				Epoca [{{ iteration }}/{{ max_iteration }}]:
				<div class="progress" style="height: 40px;">
					<div class="progress-bar progress-bar-striped bg-info" role="progressbar" id="progressBarId" style="width: {{ num_progress }}%;" aria-valuenow="{{ num_progress }}" aria-valuemin="0" aria-valuemax="100"> {{ num_progress }}% </div>
				</div>
				<br><br>
				<h2><p class="text-center">
					L'addestramento è terminato con successo
				</p></h2>
			{% else %}
				Epoca [{{ iteration }}/{{ max_iteration }}]:
				<div class="progress" style="height: 40px;">
					<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" id="progressBarId" style="width: {{ num_progress }}%;" aria-valuenow="{{ num_progress }}" aria-valuemin="0" aria-valuemax="100"> {{ num_progress }}% </div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
</body>
</html>