<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Status</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('home') }}">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<h2><p>
		Selezionare una tra le seguenti operazioni:
	</p></h2>
	<br>
	<form method="POST">
		{% for string in dataset_list%}
			<button type="submit" name="submitButton" class="btn btn-warning btn-lg" value="statusIntent{{ loop.index }}">
				Visualizza status Intent dataset {{ loop.index }}
			</button>
			<button type="submit" name="submitButton" class="btn btn-primary btn-lg" value="statusEntities{{ loop.index }}">
				Visualizza status Entities dataset {{ loop.index }}
			</button>
			<button type="submit" name="submitButton" class="btn btn-danger btn-lg" value="statusSentiment{{ loop.index }}">
				Visualizza status Sentiment dataset {{ loop.index }}
			</button>
			<br><br>
		{% endfor %}
	</form>
</body>
</html>