<!doctype html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<title>
			Write_Down_Training_Phrase
		</title>
		<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin = "anonymous">
		<style>
			input[type = button] {
				background-color : 'white';
			}
		</style>
	</head>
	<body>
		<form method = "POST">
			<div class = "form-group">
				<label for = "selectTrainingPhrase">
					Seleziona la frase di training da annotare
				</label>
				<select class = "form-control" id = "selectTrainingPhrase" name = "selectTrainingPhrase">
				<option selected label = "Clicca qui per selezionare la frase di training da modificare">
					{% for row in phrases %}
						<option>
							{{row[0]}}
						</option>
					{% endfor %}
				</option>
				</select>
			</div>
			<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "selectButton">
				Sostituisci frase di training
			</button>
			{% if values %}
				<div class = "form-group">
					<label for = "phraseSelected">
						Seleziona la Named Entity
					</label>
					<input type = "text" class = "form-control" name = "phraseSelected" value = "{% for string in values %}{{string}} {% endfor %}" readonly = "true">
					<p>
						Clicca l'entità presente nella training phrase
					</p>
					{% for string in values %}
						<input type = "text" name = "entitySelected{{loop.index}}" value = "{{string}}" readonly = "true" onclick = "entitySelected(this)">
					{% endfor %}
					<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "entityButton">
						Sostituisci frase di training
					</button>
					{% if lello %}
					<p>{{lello}}</p>
					{% endif %}
				</div>
			{% endif %}
		</form>
		<script>
			const element = document.getElementById("entitySelected1");
			element.addEventListener("click", function() {
				entitySelected(element);
			});
			document.addEventListener("click", function() {
				document.body.style.backgroundColor = "red";
			});
			function entitySelected(element) {
				if (!element.disabled) {
					element.style.background = 'red';
					
					element.addEventListener("click", function() {
						entitySelected(element);
					});
				}
				else {
					element.style.background = 'white';
					element.removeAttribute("disabled");
				}
			}
		</script>
	</body>
</html>