<!doctype html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<title>
			Write_Down_Training_Phrase
		</title>
		<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin = "anonymous">
	</head>
	<body>
		<form method = "POST">
			<div class = "form-group">
				<label for = "selectTrainingPhrase">
					Seleziona la frase di training da annotare
				</label>
				<select class = "form-control" id = "selectTrainingPhrase" name = "selectTrainingPhrase">
				<option selected>
					Clicca qui per selezionare la frase di training da modificare
					{% for row in phrases %}
						<option>
							{{row[0]}}
						</option>
					{% endfor %}
				</option>
				</select>
			</div>
			<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "selectButton">
				Sostituisci frase di training
			</button>
			{% if selected %}
				<button type = "submit" class = "btn btn-primary" name = "submitButton" value = "selectButton">
					{{phraseSelected}}
				</button>
			{% endif %}
		</form>
	</body>